$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}



/* panel customizations */

.panel-custom{
  font-family: $oswald;
  background-color: #F8F8F8;
  border: 1.5px solid #CACACA;
}

.upper-margin{
  margin-left: 25px;
}

.panel-body{
  padding-left:0;
  padding-right:0;
}

.panel-footer{
  background-color: $footer-background;
  //text-transform: uppercase;
  text-align: center;
}

.panel-footer > a:link{
  text-decoration: none;
  color:#484848;
}

.panel-footer:hover{
  background-color: #F9F9F9;
}

/* Custom Scroll */

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(238,238,238,1); 
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(218,218,218,1); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(218,218,218,1); 
}


/* Tags */

.tag-row{
  height:39px;
  line-height:40px;
  margin-bottom: 21px;
}

#tag-list{
 height: 340px;
 margin-top: 22px;
 margin-left: 25px;
 margin-right: 10px;
 overflow-x: hidden;
 overflow-y: scroll; 
 margin-bottom: 18px;
}
.colour-bar{
  height:40px;
  width: 5px;
  float: left;
}

.tag-text{
  margin-left: 1px;
  padding-left: 10px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #DADADA;
  float: left;
}
.x{
  float:right;
  margin-right: 10px;
  width: 10px;
  margin-left: 20px;
}

.rating{
  width:60px;
  float:right;
  margin-right: 40px;
}

.star{
  float:right;
  width:15px;
  text-align: center;
  margin-left:5px;
}

.colour-bar-blue{
  background-color:$tag-blue;
}
.colour-bar-red{
  background-color:$tag-red;
}
.colour-bar-green{
  background-color:$tag-green;
}
.colour-bar-green{
  background-color:$tag-green;
}
.colour-bar-yellow{
  background-color:$tag-yellow;
}
.colour-bar-grey{
  background-color:$tag-grey;
}
.colour-bar-orange{
  background-color:$tag-orange;
}


/* Map */

#map {
  position: relative;
  width: 100%;
  vertical-align: middle;
  margin: 0;
  overflow: hidden;
}
#map svg { 
  display: inline-block;
  position: absolute;
  top: 0; left: 0;
}

.country-list{
  list-style-type:none;
}
.country-list > li{
  margin-bottom: 5px;
}
.icon-circle{
  font-size: 14px;
  margin-right: 8px;
}
.country-list > li:nth-child(1) > span{
  color: $tag-blue;
}
.country-list > li:nth-child(2) > span{
  color: $tag-yellow;
}
.country-list > li:nth-child(3) > span{
  color: $tag-orange;
}
.country-list > li:nth-child(4) > span{
  color: $tag-green;
}
.country-list > li:nth-child(5) > span{
  color: $tag-red;
}

.tooltip-inner {
    white-space:nowrap;
    max-width:none;
  }



/* Schedule */

.schedule-panel{
  border-top: 1px solid #BFBFBF;
  padding-top:5px;
}

.schedule-crescent{
  position:relative;
  top:30px;
  left:-15px;
  background-color: #F8F8F8;
  height: 30px;
  width: 15px;
  border-radius: 30px 0 0 30px;
  -moz-border-radius: 30px 0 0 30px;
  -webkit-border-radius: 30px 0 0 30px;
  border-top: 1px solid #BFBFBF;
  border-bottom: 1px solid #BFBFBF;
  border-left: 1px solid #BFBFBF;
}

.schedule-time{
  margin-left:12px;
  font-size: 13px;
  color: #737373;
}

.icon-clock{
  position:relative;
  font-size: 16px;
  color: $tag-red;
  margin-left: -7px;
  z-index: 2;

}

.schedule-p{
  margin-top: 5px;
  padding-left: 23px;
  padding-right: 23px;
}

#schedule-submit{
  position:relative;
  margin-left:23px;
  text-transform:uppercase;
}

/* Screen size adjustments */

@media only screen and (min-width: 320px) {
  .tooltip{
    margin-left:6.5px;
  }

  #map {
    padding-bottom: 60%;
  }

  #schedule-submit{
    margin-top:20px;
  }
}

@media only screen and (min-width: 768px) {
  .tooltip{
    margin-left:12px;
  }
}

@media only screen and (min-width: 992px) {
  .tooltip{
    margin-left:5px;
  }
  .panel-custom{
    height: 499px;
  }
}

@media only screen and (min-width: 1200px) {
  .tooltip{
    margin-left:7px;
  }

  .panel-custom{
    height: 499px;
  }
  #tag-list{
    height:340px;
  }

}

@media only screen and (min-width: 1500px) {
  .panel-custom{
    height: 600px;
  }
  #tag-list{
    height:441px;
  }

}


