

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default panel-custom">
      <div class="panel-body">
        <h3 class="upper upper-margin"><strong>Sport</strong> <span class="w300 upper">Tags</span></h3>

        <div id="tag-list">

          <div class="tag-row">
            <div class="colour-bar colour-bar-blue"></div>
            <div class="tag-text">
              Baseball
              <div class="x"><span class="icon-close"></span></div>
            </div>
            <div class="rating">
              <div class="star"><span class="icon-star-off"></span></div>
              <div class="star"><span class="icon-star-off"></span></div>
              <div class="star"><span class="icon-star-on"></span></div>
            </div>
          </div>

          <div class="tag-row">
            <div class="colour-bar colour-bar-red"></div>
            <div class="tag-text">
              Hockey
              <div class="x"><span class="icon-close"></span></div>
            </div>
            <div class="rating">
              <div class="star"><span class="icon-star-off"></span></div>
              <div class="star"><span class="icon-star-off"></span></div>
              <div class="star"><span class="icon-star-off"></span></div>
            </div>
          </div>

          <div class="tag-row">
            <div class="colour-bar colour-bar-green"></div>
            <div class="tag-text">
              Football
              <div class="x"><span class="icon-close"></span></div>
            </div>
            <div class="rating">
              <div class="star"><span class="icon-star-on"></span></div>
              <div class="star"><span class="icon-star-on"></span></div>
              <div class="star"><span class="icon-star-on"></span></div>
            </div>
          </div>

          <div class="tag-row">
            <div class="colour-bar colour-bar-blue"></div>
            <div class="tag-text">
              Tennis
              <div class="x"><span class="icon-close"></span></div>
            </div>
            <div class="rating">
              <div class="star"><span class="icon-star-on"></span></div>
              <div class="star"><span class="icon-star-on"></span></div>
              <div class="star"><span class="icon-star-on"></span></div>
            </div>
          </div>

          <div class="tag-row">
            <div class="colour-bar colour-bar-yellow"></div>
            <div class="tag-text">
              Basketball
              <div class="x"><span class="icon-close"></span></div>
            </div>
            <div class="rating">
              <div class="star"><span class="icon-star-on"></span></div>
              <div class="star"><span class="icon-star-on"></span></div>
              <div class="star"><span class="icon-star-off"></span></div>
            </div>
          </div>

          <div class="tag-row">
            <div class="colour-bar colour-bar-grey"></div>
            <div class="tag-text">
              Soccer
              <div class="x"><span class="icon-close"></span></div>
            </div>
            <div class="rating">
              <div class="star"><span class="icon-star-on"></span></div>
              <div class="star"><span class="icon-star-on"></span></div>
              <div class="star"><span class="icon-star-off"></span></div>
            </div>
          </div>

          <div class="tag-row">
            <div class="colour-bar colour-bar-blue"></div>
            <div class="tag-text">
              Baseball
              <div class="x"><span class="icon-close"></span></div>
            </div>
            <div class="rating">
              <div class="star"><span class="icon-star-off"></span></div>
              <div class="star"><span class="icon-star-off"></span></div>
              <div class="star"><span class="icon-star-on"></span></div>
            </div>
          </div>

          <div class="tag-row">
            <div class="colour-bar colour-bar-red"></div>
            <div class="tag-text">
              Hockey
              <div class="x"><span class="icon-close"></span></div>
            </div>
            <div class="rating">
              <div class="star"><span class="icon-star-off"></span></div>
              <div class="star"><span class="icon-star-off"></span></div>
              <div class="star"><span class="icon-star-off"></span></div>
            </div>
          </div>

          <div class="tag-row">
            <div class="colour-bar colour-bar-green"></div>
            <div class="tag-text">
              Football
              <div class="x"><span class="icon-close"></span></div>
            </div>
            <div class="rating">
              <div class="star"><span class="icon-star-on"></span></div>
              <div class="star"><span class="icon-star-on"></span></div>
              <div class="star"><span class="icon-star-on"></span></div>
            </div>
          </div>

          <div class="tag-row">
            <div class="colour-bar colour-bar-blue"></div>
            <div class="tag-text">
              Tennis
              <div class="x"><span class="icon-close"></span></div>
            </div>
            <div class="rating">
              <div class="star"><span class="icon-star-on"></span></div>
              <div class="star"><span class="icon-star-on"></span></div>
              <div class="star"><span class="icon-star-on"></span></div>
            </div>
          </div>

          <div class="tag-row">
            <div class="colour-bar colour-bar-yellow"></div>
            <div class="tag-text">
              Basketball
              <div class="x"><span class="icon-close"></span></div>
            </div>
            <div class="rating">
              <div class="star"><span class="icon-star-on"></span></div>
              <div class="star"><span class="icon-star-on"></span></div>
              <div class="star"><span class="icon-star-off"></span></div>
            </div>
          </div>

          <div class="tag-row">
            <div class="colour-bar colour-bar-grey"></div>
            <div class="tag-text">
              Soccer
              <div class="x"><span class="icon-close"></span></div>
            </div>
            <div class="rating">
              <div class="star"><span class="icon-star-on"></span></div>
              <div class="star"><span class="icon-star-on"></span></div>
              <div class="star"><span class="icon-star-off"></span></div>
            </div>
          </div>


        </div>

      </div>
      <div class="panel-footer">
        <a href="#">View All Sport Tags</a>
      </div>
    </div>
  </div>


  <div class="col-md-4">
    <div class="panel panel-default panel-custom">
      <div class="panel-body">
        <h3 class="upper upper-margin"><strong>World</strong> <span class="w300 upper">Map</span></h3>

        <div class="map">
          <figure id="map">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1200 808" >
              <image width="1200" height="808" xlink:href="images/map.svg">
              </image>
              <circle class="america" cx="160" cy="270" r="20" fill="#E32A28" opacity=".8" stroke-width="1"  />
              <circle class="europe" cx="526" cy="235" r="20" fill="#2C9B41" opacity=".8" stroke-width="1"  />
              <circle class="africa" cx="594" cy="421" r="20" fill="#336CF1" opacity=".8" stroke-width="1"  />
              <circle class="asia" cx="818" cy="250" r="20" fill="#FEC60A" opacity=".8" stroke-width="1"  />
              <circle class="australia" cx="1045" cy="536" r="20" fill="#F06B08" opacity=".8" stroke-width="1"  />
              
            </svg>
          </figure>
          <SCRIPT>
          $('.america').tooltip({title:'America', container:'#map'});
          $('.europe').tooltip({title:'Europe', container:'#map'});
          $('.africa').tooltip({title:'Africa', container:'#map'});
          $('.asia').tooltip({title:'Asia', container:'#map'});
          $('.australia').tooltip({title:'Australia and Oceania', container:'#map', placement: 'left'});
          </script>
          <div class="list-holder">
            <ul class="country-list">
              <li><span class="icon-circle"></span> Africa</li>
              <li><span class="icon-circle"></span> Asia</li>
              <li><span class="icon-circle"></span> Australia and Oceania</li>
              <li><span class="icon-circle"></span> Europe</li>
              <li><span class="icon-circle"></span> America</li>
            </ul>
          </div>


        </div>

      </div>
    </div>
  </div>


  <div class="col-md-4">
    <div class="panel panel-default panel-custom">
      <div class="panel-body">
        <h3 class="upper upper-margin"><strong>Athlete's</strong><span class="w300 upper"> Schedule</span></h3>

        <div class="schedule-crescent"></div>
        <div class="schedule-panel">
          <div class="schedule-row-top">
            <span class="icon-clock"></span>
            <span class="schedule-time">7am - 8am</span>
          </div>
          <div class="schedule-p">
            <p>Reporting to work; receiving information from the previous day’s crew; checking the truck for all essential equipment; raising the flag.</p>
          </div>
        </div>

        <div class="schedule-crescent"></div>
        <div class="schedule-panel">         
          <div class="schedule-row-top">
            <span class="icon-clock"></span>
            <span class="schedule-time">8am - 9am</span>
          </div>
          <div class="schedule-p">
            <p>Doing fitness exercises, such as weight training, cardio, and crossfit.</p>
          </div>
        </div>

        <div class="schedule-crescent"></div>
        <div class="schedule-panel">         
          <div class="schedule-row-top">
            <span class="icon-clock"></span>
            <span class="schedule-time">8am - 11am</span>
          </div>
          <div class="schedule-p">
            <p>Participating in various tasks or events, such as self-study, training, or public education events.</p>
          </div>
        </div>


        <button id="schedule-submit" type="button" class="btn btn-primary btn-lg">Add To My List</button>
      </div>
    </div>
